@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --blue: #399dd7
}

header.scrolled {
    box-shadow: 10px -6px 15px black;
}
header{
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 3;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav i{
    color: var(--blue);
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 5px;
}
#phoneicon{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-left: 15px;
    display: flex;
    align-items:center;
    gap: 8px;
}
.blueborder{
    width: 25px;
    height: 100px;
    background: linear-gradient(to bottom, #4d5ea6, #399dd7);
}
.logo img{
    width: 148px;
    height: 98px;
}
.nav-right{
    display: flex;
    gap: 25px;
    align-items: center;
}
#navphone{
    background: linear-gradient(to right, #4d5ea6, #399dd7, #4d5ea6);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font: 13px Noto Sans;
    width: 188px;
    height: 44px;
    display: flex;
    align-items:center;
    justify-content: center;
    clip-path: polygon(83% 0, 100% 38%, 100% 99%, 0 100%, 0 0);
    transition: clip-path 0.4s ease-in-out;
}
#navphone:hover{
    clip-path: polygon(100% 0, 100% 28%, 100% 100%, 0 100%, 0 0);
}
.nav-right i{
    font-size: 25px;
}
.hero__section{
    position: relative;
    height: 100vh;
    background: url(../img/trtbg.webp) center/cover ;
    display: flex;
    align-items: center;
}
.overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100%;
}
.hero__section-content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
}
.hero__section-content span{
    color: var(--blue)
}
.hero__section-content h1{
    font: 55px Noto Sans ;
    color: #fff;
    text-transform: uppercase;
}
.hero__section-content h4{
    font: 28px Noto Sans;
    color: #fff;
    text-transform: uppercase;
}
.hero__section-content h5{
    font: 22px Noto Sans;
    color: #fff;
    text-transform: uppercase;
}
.about__section{
    height: 100%;
    background-color: #fff;
    margin-top: -100px;
}
.about__section-content-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    margin-bottom: 150px;
}
/* .about__section-content-top  a{
    background-color: #F9F9F9;
    text-decoration: none;
    text-transform: uppercase;
    color: #1C1C20;
    font: 20px Noto Sans;
    font-weight: 300;
    width: 30%;
    height: 165px;
    clip-path: polygon(83% 0, 100% 38%, 100% 99%, 0 100%, 0 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */
 .atag a{
    font: 20px Noto Sans;
    font-weight: 300;
    width: 100%;
    height: 165px;
    clip-path: polygon(83% 0, 100% 38%, 100% 99%, 0 100%, 0 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #1C1C20;
    background-color: #f9f9f9;
    padding: 0 20px;
 }
 .atag{
    display: inline-block;
    width: 32%;
    padding: 0; 
    filter: drop-shadow(0 8px 10px rgba(0,0,0,0.25))
            drop-shadow(-8px 0 10px rgba(0,0,0,0.15));
    overflow: visible; 
    background: transparent; 
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
}

.about__section-content-top i{
    color: var(--blue);
    font-size: 30px;
    position: absolute;
    top: 7%;
    right: 88%;
}
#lasta .arrow{
    right:16%;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff !important;
}
#lasta{
    background-color: var(--blue);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font: 20px Noto Sans;
    font-weight: 300;
    width: 100%;
    height: 165px;
    transition: clip-path 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    padding: 0 20px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}
#lasta .gears{
    color: #ffffff59;
    font-size: 90px;
    top: 45%;
    right: 65%;
    transform: scaleX(-1);
}
#lasta:hover{
    clip-path: polygon(100% 0, 100% 28%, 100% 100%, 0 100%, 0 0);
}

.about__section-content-bottom{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.about__section-content-bottom h2{
    font: 36px Noto Sans;
    font-weight: 400;
}
.about__section-content-bottom span{
    color: var(--blue)
}
.about__section-line{
    background-color: var(--blue);
    height: 130px;
    width: 25px;
}
.about__section-content-bottom p{
    font: 20px Noto Sans;
    max-width: 800px;
    font-weight: 300;
}
.about__section-content-bottom > div{
    display: flex;
    gap: 20px;
    align-items:center
}
.products__section{
    background-color:#fff;
    height: 100%;
    margin-top: 70px;
}
.products__section-content-top i{
    font-size: 40px;
    color: var(--blue)
}
.products__section-content-top h2{
    font: 36px Noto Sans;
    text-transform: uppercase;
}

.products__section-content-top , .offers__section-content-top{
    display: flex;
    gap: 30px;
    align-items:center;
}
#product__section-product1{
    position: relative;
    height: 270px;
    max-width: 370px;
    width: 100%;
    background: url(../img/pr2.jpeg) center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#product__section-product2{
    position: relative;
    height: 270px;
    max-width: 370px;
    width: 100%;
    background: url(../img/product2.jpeg) center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.products__section-content{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.products__section-content h2{
    font: 28px Noto Sans;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}
.products__section-content a{
    position: relative;
    z-index:2;
    max-width: 300px;
    width: 100%;
    height: 45px;
    background-color: var(--blue);
    clip-path: polygon(83% 0, 100% 38%, 100% 99%, 0 100%, 0 0);
    transition: clip-path 0.4s ease-in-out;
    color: #fff;
    font: 16px Noto Sans;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.products__section-content a:hover{
    clip-path: polygon(100% 0, 100% 28%, 100% 100%, 0 100%, 0 0);
}
.products__section-content-bottom{
    margin: 40px auto 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 110px;
    max-width: 970px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.products__section-content-bottom h3{
    font: 22px Noto Sans;
}
.products__section-content-bottom span{
    font-weight: bold;
}
.products__section-content-bottom a{
    max-width: 257px;
    width: 100%;
    height: 55px;
    background-color: var(--blue);
    clip-path: polygon(83% 0, 100% 38%, 100% 99%, 0 100%, 0 0);
    transition: clip-path 0.4s ease-in-out;
    color: #fff;
    font: 16px Noto Sans;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.products__section-content-bottom a:hover{
    clip-path: polygon(100% 0, 100% 28%, 100% 100%, 0 100%, 0 0);
}
.offers__section {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    position: relative;
}

.offers__section-content {
    background: url(../img/bg.png) center center / contain no-repeat;
    min-height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.offers__section-content-top{
    justify-content: left;
}
.offers__section-content-top i{
    font-size: 40px;
    color: var(--blue)
}
.offers__section-content-top h2{
    font: 36px Noto Sans;
    text-transform: uppercase;

}
.offers__section-content-txts {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 2;
}

.offers__section-content-left p{
    font: 20px Noto Sans;
    margin-bottom: 16px;
}
.offers__section-content-left span{
    font-weight: 600;
}
.offers__section-content-top{
    margin-bottom: 10px;
}
#offerimg{
    position: relative;
    margin-top: 30px;
    width: 48%;
    z-index: 2;
}
.offers__section-content img{
    width: 100%;
    height: 560px;
    object-fit: cover;
    border-radius:4%
}
.offers__section-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
    flex-direction: row;
    overflow: hidden;
    
}
.offers__section .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / 86%);
    z-index: 1;
}

.faq__section{
    background: url("../img/bgfnl.jpg") center/cover fixed;
    position: relative;
}
.faq__section-content{
    padding: 60px 0;
    position: relative;
    z-index: 2;
}
.faq__section-top{
    position: relative;
    z-index: 2;
    padding: 60px 0 0 0 ;
    display: flex;
    align-items: center;
    gap: 30px;
}
.faq__section-top i{
    font-size: 40px;
    color: var(--blue)
}
.faq__section-top h2{
    font: 36px Noto Sans;
    text-transform: uppercase;

}
.overlay3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / 96%);
    z-index: 1;
}
footer{
    background-color: #333;
    height: 100%;
    padding-top: 40px;
}
.accordion{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.accordion-item {
    border: none !important;
}


.accordion-button {
    background-color: #ddd !important;
    color: rgba(0, 0, 0, 0.7) !important;
    font: 18px Roboto;
    box-shadow: none !important;
    border: none !important; 
    height: 80px;
}


.accordion-button.collapsed {
    border: none !important;
    box-shadow: none !important;
    height: 100%;
}


.accordion-button:not(.collapsed) {
    color: #999 !important;
    background-color: #ddd !important;
    box-shadow: none !important;
    border: none !important;
     height: 100%;
}


.accordion-body {
    color: #777 !important;
    border: none !important;
    font: 16px Roboto;
}

#imgfooter{
    height: 34px;
    max-width: 34px;
    width: 100%;
    background-color: #fff;
    margin: auto 0;
}
.footer__top{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
.footer__top > div{
    /* border-right: 1px solid #fff; */
    padding-right: 40px;
}
.footer-logo{
    display: flex;
    gap: 30px;
}
.contactfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contactfooter i{
    color: var(--blue);
    text-decoration: none;
}
.contactfooter div i{
    font-size: 25px;
}
.contactfooter div{
    display: flex;
    gap: 15px;
}
.contactfooter > a{
    display: flex;
    gap: 5px;
    align-items: center;
    font: 17px Noto Sans
}
#locationfooter i{
    color: var(--blue);
    font-size: 25px;
}
#locationfooter a{
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 10px;
    font: 15px Noto Sans
}
#workhoursfooter p{
    font: 15px Noto Sans;
    color: #fff;
    text-decoration: none;
}
#workhoursfooter a{
    color: var(--blue);
    font-size: 23px;
}
#workhoursfooter{
    display: flex;
    gap: 10px;
}
#sectionsfooter a{
    text-decoration: none;
    color: #fff;
    font: 15px Noto Sans
}
#sectionsfooter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__content{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer__content p{
    font: 12px Noto Sans;
    color: #fff
}
.footer__bottom{
    padding: 10px 0;
    display: flex;
    align-items:center;
    justify-content: center;
}
.footer__bottom a{
    font: 12px Noto Sans;
    color: #fff
}
.footer__bottom a:hover{
    color: #ef3f23
}
footer hr{
    color: #fff
}
#jeywalogo{
    width: 180px;
    height: 70px;
    margin-top: 18px;
}


@media (max-width: 768px){
    #navphone{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
    .logo img {
        width: 110px;
        height: 74px;
    }
    #phoneicon {
        font-size: 11px;
        margin-left: 3px;
        gap: 10px;
    }
    .nav-right {
        gap: 9px
    }
    .hero__section h1{
        font-size: 30px;
    }
    .hero__section h4{
        font-size: 20px;
    }
    .hero__section h5{
        font-size: 17px;
    }
    .about__section-content-bottom {
        flex-direction: column;
        gap: 20px;
        }
    .products__section-content-bottom {
        flex-direction: column;
        text-align: center;
        gap: 6px;
        height: 100%;
    }
    .products__section-content-bottom h3{
        width: 100%;
        font-size: 16px;
    }
    .products__section-content-bottom a {
        max-width: 215px;
        height: 45px;
        margin-bottom: 10px;
    }
    .offers__section-content img{
        height: 400px;
    }




}
@media (min-width: 768px) and (max-width: 1300px){
    .about__section-content-bottom p {
    max-width: 540px;
    }
    .products__section-content-bottom a {
        max-width: 215px;
        height: 51px;
    }
    .products__section-content-bottom h3{
        font-size: 16px;
        width: 60%;
    }
}
@media (max-width: 992px){
    .products__section-content{
        flex-direction: column;
    }
    .offers__section-content-txts {
        width: 100%
    }
    .offers__section-content{
        flex-direction: column;
    }
    .footer__top {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer__top >div{
        border-right: none
    }
    .contactfooter{
        gap: 6px;
    }
    #navphone{
        font: 10px Noto Sans;
        width: 133px;
        height: 41px;
     }
     .about__section-content-top i {
        font-size: 20px;
    }
    #offerimg{
        width: 100%;
    }
    .footer__content {
        flex-direction: column;
        gap: 20px;
    }
    .atag{
        width: 80%;
    }
    .products__section-content-bottom h3{
        padding: 10px;
    }
    #offerimg{
        width: 90% !important;
    }
    .accordion{
        width: 90%;
    }
     footer {
        padding: 30px 15px;
    }

    .footer__top {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer__top > div {
        border-right: none;
        padding: 20px;
        background: #444;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        width: 60%;
        justify-content: center !important;
    }

    .footer-logo {
        flex-direction: row;
        align-items: center;
        gap: 5px;
        justify-content: center;
    }

    .contactfooter {
        gap: 10px;
    }

    .contactfooter a {
        font-size: 14px;
    }

    #locationfooter a,
    #workhoursfooter p {
        font-size: 14px;
        line-height: 1.4;
        justify-content: center;
    }

    #jeywalogo {
        width: 140px;
        height: auto;
        margin: 0 auto;
    }

    .footer__content {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .footer__content img {
        margin: 0 6px;
    }

    .footer__bottom {
        padding: 20px 0;
        text-align: center;
    }
    .offers__section-content img{
        height: 400px;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .atag{
        width: 45%;
    }
}
@media (max-width: 1200px){
    .footer__top > div {
        padding-right: 16px;
    }
    .footer-logo {
        gap: 6px;
    }
    .about__section-content-top i {
        font-size: 24px;
    }
    .about__section-content-top a{
        font-size: 16px;
    }
    #lasta{
        font-size: 16px;
    }
    
}
@media (max-width: 440px){
    .hero__section h1{
        font-size: 20px !important;
    }
    .hero__section h4{
        font-size: 15px !important;
    }
    .hero__section h5{
        font-size: 12px !important;
    }
    .atag{
        width: 90%;
    }

    .faq__section-top h2{
        font-size: 27px;
    }
}
